/*----------------------------------*/


/* BASIC SETUP */


/*----------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #ecf0f1;
    color: #222;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}


/*----------------------------------*/


/* BREUSABLE COMPONENTS*/


/*----------------------------------*/

.row {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 60px 0;
}

.box {
    padding: 1%;
}


/* ----- HEADINGS ----- */

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #1e78f4;
    content: " ";
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}


/* ----- PARAGRAPHS ----- */

.about-details {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box p {
    font-size: 90%;
    line-height: 145%;
}


/* ----- ICONS ----- */

.icon-big {
    font-size: 350%;
    display: block;
    color: #1e78f4;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #1e78f4;
    font-size: 120%;
    margin-right: 10px;
    /* secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5.5px;
}


/* ----- LINKS ----- */

a:link,
a:visited {
    color: #1e78f4;
    text-decoration: none;
    border-bottom: 1px solid #1e78f4;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: ;
    border-bottom: 1px solid transparent;
}


/* ----- BUTTONS ----- */

.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    border: 1px solid #1e78f4;
    color: #fff;
    margin-right: 15px;
}

input[type=submit] {
    background-color: transparent;
    color: #000;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #1e78f4;
    color: #fff;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    border: 1px solid #1e78f4;
    background-color: #1e78f4;
}

input[type=submit]:hover,
input[type=submit]:active {
    color: #fff;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #1e78f4;
    background-color: #1e78f4;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #1e78f4;
    color: #fff;
    background-color: #1e78f4;
}


/*----------------------------------*/


/* HEADER */


/*----------------------------------*/

header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/hero.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(img/bg.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.profile-picture {
    height: 200px;
    width: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 100px;
}

.hero-text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.logo {
    height: 125px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #1e78f4;
}


/*----------------------------------*/


/* ABOUT */


/*----------------------------------*/

.about-details .greetings {
    // padding: 0 100px 0 100px;
    margin-bottom: 40px;
    text-align: justify;
}


/*----------------------------------*/


/* PORTFOLIO */


/*----------------------------------*/

.portfolio-details {
    padding: 0;
}

.portfolio-showcase {
    list-style: none;
    width: 90%;
    margin-left: 5%;
}

.portfolio-showcase li {
    display: block;
    float: left;
    width: 50%;
    padding: 10px;
}

.portfolio-content {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

.portfolio-content img {
    opacity: 0.5;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.5s, opacity 0.5s;
    transition: 0.5s, opacity 0.5s;
}

.portfolio-content img:hover {
    opacity: 1;
    -webkit-transform: scale(1.10);
    transform: scale(1.10);
}


/*----------------------------------*/


/* RESUME */


/*----------------------------------*/

.resume-content {
    background-color: #eae8e8;
}

.steps-box {
    margin-top: 30px;
}
.steps-box:first-child {
    text-align: right;
    padding-right: 10%;
}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 30px;
}

.picture-screen {
    width: 40%;
}

.working-steps {
    margin-bottom: 50px;
}

.work-steps:last-of-type {
    margin-bottom: 80px;
}

.working-steps div {
    color: #1e78f4;
    font-size: 150%;
    height: 55px;
    width: 55px;
    border: 2px solid #1e78f4;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
    float: left;
    padding: 5px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}


/*----------------------------------*/


/* INVOLVEMENTS */


/*----------------------------------*/

.box img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.org-feature {
    margin-bottom: 5px;
}


/*----------------------------------*/


/* CONTACT */


/*----------------------------------*/

.contact-form {
    width: 80%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #cccccc
}

textarea {
    height: 100px;
}

*:focus {
    outline: none;
}


/*----------------------------------*/


/* FOOTER */


/*----------------------------------*/

footer {
    background-color: #333;
    font-size: 80%; 
    padding-top: 50px;
    padding-bottom: 20px;
}

.social-links {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}

.social-links li:last-child {
    margin: 0;
}

.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #999;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 200%;
}

.ion-social-facebook,
.ion-social-instagram,
.ion-social-linkedin {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-instagram:hover {
    color: #e95950;
}

.ion-social-linkedin:hover {
    color: #007bb5;
}

footer p {
    color: #999;
    text-align: center;
    font-size: 90%;
}